### Calculate per-user temporal tracking quality (temporal coverage).

In [1]:
import trackintel as ti
# pfs = ti.io.file.read_positionfixes_csv('pfs.csv', index_col='ID')
sp = ti.io.file.read_staypoints_csv('staypoints.csv', index_col='id')

/usr/local/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/usr/local/lib/python3.9/site-packages/trackintel/io/file.py:5: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [3]:
quality1 = ti.analysis.tracking_quality.temporal_tracking_quality(sp, granularity='all')
quality1

      user_id   quality
0           0  0.281543
1           1  0.728133
2           2  0.745774
3           3  0.776579
4           4  0.112880
...       ...       ...
5137     5167  0.024171
5138     5168  0.909668
5139     5169  1.000000
5140     5170  0.379015
5141     5171  0.599357

[5142 rows x 2 columns]

In [4]:
quality2 = ti.analysis.tracking_quality.temporal_tracking_quality(sp, granularity='day')
quality2

        user_id                       day   quality
0             0 2022-09-07 00:00:00-04:00  0.031667
1             0 2022-09-20 00:00:00-04:00  0.404560
2             0 2022-09-21 00:00:00-04:00  0.962049
3             0 2022-09-22 00:00:00-04:00  0.993507
4             0 2022-09-23 00:00:00-04:00  0.972720
...         ...                       ...       ...
101507     5171 2022-10-25 00:00:00-04:00  0.562130
101508     5171 2022-10-26 00:00:00-04:00  0.706701
101509     5171 2022-10-28 00:00:00-04:00  0.462766
101510     5171 2022-10-29 00:00:00-04:00  0.997419
101511     5171 2022-10-30 00:00:00-04:00  0.013299

[101512 rows x 3 columns]