In [1]:
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas
import trackintel as ti

# read pfs from csv file
pfs = ti.io.file.read_positionfixes_csv('data.csv', 
                                        columns={'user_id':'user_id', 'latitude':'latitude', 'longitude':'longitude', 'time':'tracked_at'},
                                        tz= 'America/New_York',
                                        crs ='EPSG:4326',
                                        index_col = 'ID')
pfs

          user_id  flag                tracked_at                        geom
ID
3865408         0  True 2022-09-21 02:10:55-04:00  POINT (-81.67558 30.36497)
3865411         0  True 2022-09-21 02:11:44-04:00  POINT (-81.67558 30.36497)
3865608         0  True 2022-09-25 21:38:08-04:00  POINT (-81.66239 30.45000)
3865609         0  True 2022-09-25 22:02:49-04:00  POINT (-81.66239 30.45000)
3865610         0  True 2022-09-25 22:03:38-04:00  POINT (-81.66240 30.45000)
...           ...   ...                       ...                         ...
13980039    34497  True 2022-10-29 20:39:33-04:00  POINT (-82.23321 29.38124)
13980040    34497  True 2022-10-29 20:39:40-04:00  POINT (-82.23322 29.38123)
13980047    34497  True 2022-10-30 20:39:30-04:00  POINT (-82.23325 29.38123)
13980048    34497  True 2022-10-30 20:39:39-04:00  POINT (-82.23322 29.38123)
13980084    34498  True 2022-10-23 08:23:05-04:00  POINT (-81.61525 30.61841)

[7659401 rows x 4 columns]

In [2]:
# generate staypoints
pfs, sp = pfs.as_positionfixes.generate_staypoints(method='sliding', dist_threshold=100, time_threshold=2.0, gap_threshold = 15.0, print_progress = True, include_last = False, n_jobs=-1)
pfs

  0%|          | 32/25071 [00:06<1:34:30,  4.42it/s]/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
  0%|          | 48/25071 [00:06<54:09,  7.70it/s]  /usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 25071/25071 [03:05<00:00, 135.39it/s]

,user_id,flag,tracked_at,geom,staypoint_id
ID,,,,,
3865408,0,True,2022-09-21 02:10:55-04:00,POINT (-81.67558 30.36497),<NA>
3865411,0,True,2022-09-21 02:11:44-04:00,POINT (-81.67558 30.36497),<NA>
3865608,0,True,2022-09-25 21:38:08-04:00,POINT (-81.66239 30.45000),<NA>
3865609,0,True,2022-09-25 22:02:49-04:00,POINT (-81.66239 30.45000),<NA>
3865610,0,True,2022-09-25 22:03:38-04:00,POINT (-81.66240 30.45000),<NA>
...,...,...,...,...,...
13980039,34497,True,2022-10-29 20:39:33-04:00,POINT (-82.23321 29.38124),<NA>
13980040,34497,True,2022-10-29 20:39:40-04:00,POINT (-82.23322 29.38123),<NA>
13980047,34497,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>
13980048,34497,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>
13980084,34498,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>

In [3]:
pfs

,user_id,flag,tracked_at,geom,staypoint_id
ID,,,,,
3865408,0,True,2022-09-21 02:10:55-04:00,POINT (-81.67558 30.36497),<NA>
3865411,0,True,2022-09-21 02:11:44-04:00,POINT (-81.67558 30.36497),<NA>
3865608,0,True,2022-09-25 21:38:08-04:00,POINT (-81.66239 30.45000),<NA>
3865609,0,True,2022-09-25 22:02:49-04:00,POINT (-81.66239 30.45000),<NA>
3865610,0,True,2022-09-25 22:03:38-04:00,POINT (-81.66240 30.45000),<NA>
...,...,...,...,...,...
13980039,34497,True,2022-10-29 20:39:33-04:00,POINT (-82.23321 29.38124),<NA>
13980040,34497,True,2022-10-29 20:39:40-04:00,POINT (-82.23322 29.38123),<NA>
13980047,34497,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>
13980048,34497,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>
13980084,34498,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>

In [4]:
sp

,user_id,started_at,finished_at,geom
id,,,,
0,0,2022-10-10 18:41:33-04:00,2022-10-10 18:54:04-04:00,POINT (-81.66255 30.45992)
1,2,2022-09-06 22:09:29-04:00,2022-09-06 22:19:08-04:00,POINT (-81.65827 29.65349)
2,2,2022-09-06 22:19:08-04:00,2022-09-06 22:22:07-04:00,POINT (-81.68406 29.65176)
3,2,2022-09-06 22:22:07-04:00,2022-09-06 22:31:37-04:00,POINT (-81.65827 29.65349)
4,2,2022-09-06 22:31:37-04:00,2022-09-06 22:34:49-04:00,POINT (-81.68407 29.65176)
...,...,...,...,...
397678,34483,2022-10-27 03:34:53-04:00,2022-10-27 03:37:40-04:00,POINT (-81.64832 30.32172)
397679,34483,2022-10-27 05:30:52-04:00,2022-10-27 05:38:14-04:00,POINT (-81.65252 30.32161)
397680,34483,2022-10-27 05:38:14-04:00,2022-10-27 05:53:02-04:00,POINT (-81.65082 30.35222)
397681,34484,2022-10-28 00:47:04-04:00,2022-10-28 00:55:00-04:00,POINT (-81.66882 30.36859)
397682,34487,2022-10-23 22:07:37-04:00,2022-10-23 22:11:40-04:00,POINT (-83.07756 30.34748)

In [5]:
print(len(sp['user_id'].unique()))

10987

In [6]:
# generate triplegs
pfs, tpls = pfs.as_positionfixes.generate_triplegs(sp, method='between_staypoints', gap_threshold = 15.0)
pfs

/usr/local/lib/python3.9/site-packages/trackintel/preprocessing/positionfixes.py:498: UserWarning: The positionfixes with ids [ 3865408  3865411       35 ... 13979958 13979963 13979964] lead to invalid tripleg geometries. The resulting triplegs were omitted and the tripleg id of the positionfixes was set to nan
  warnings.warn(warn_string)

,user_id,flag,tracked_at,geom,staypoint_id,tripleg_id
ID,,,,,,
3865408,0,True,2022-09-21 02:10:55-04:00,POINT (-81.67558 30.36497),<NA>,<NA>
3865411,0,True,2022-09-21 02:11:44-04:00,POINT (-81.67558 30.36497),<NA>,<NA>
3865608,0,True,2022-09-25 21:38:08-04:00,POINT (-81.66239 30.45000),<NA>,<NA>
3865609,0,True,2022-09-25 22:02:49-04:00,POINT (-81.66239 30.45000),<NA>,1
3865610,0,True,2022-09-25 22:03:38-04:00,POINT (-81.66240 30.45000),<NA>,1
...,...,...,...,...,...,...
13980039,34497,True,2022-10-29 20:39:33-04:00,POINT (-82.23321 29.38124),<NA>,943574
13980040,34497,True,2022-10-29 20:39:40-04:00,POINT (-82.23322 29.38123),<NA>,943574
13980047,34497,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>,943575
13980048,34497,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>,943575
13980084,34498,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>,<NA>

In [7]:
tpls

,user_id,started_at,finished_at,geom
id,,,,
1,0,2022-09-25 22:02:49-04:00,2022-09-25 22:03:38-04:00,"LINESTRING (-81.66239 30.45000, -81.66240 30.4..."
2,1,2022-09-06 13:11:03-04:00,2022-09-06 13:11:54-04:00,"LINESTRING (-82.07077 29.19301, -82.07077 29.1..."
6,1,2022-09-09 00:59:39-04:00,2022-09-09 00:59:49-04:00,"LINESTRING (-82.11661 29.19956, -82.11661 29.1..."
7,2,2022-09-06 09:15:08-04:00,2022-09-06 09:15:58-04:00,"LINESTRING (-81.67753 29.65504, -81.67751 29.6..."
8,2,2022-09-06 21:34:07-04:00,2022-09-06 21:34:57-04:00,"LINESTRING (-81.68406 29.65178, -81.68406 29.6..."
...,...,...,...,...
943571,34494,2022-10-27 01:06:08-04:00,2022-10-27 01:09:53-04:00,"LINESTRING (-81.61198 30.38249, -81.61198 30.3..."
943572,34496,2022-10-31 02:06:17-04:00,2022-10-31 02:07:50-04:00,"LINESTRING (-81.75724 30.33606, -81.75724 30.3..."
943573,34497,2022-10-26 08:25:34-04:00,2022-10-26 08:25:48-04:00,"LINESTRING (-82.09808 29.99144, -82.09809 29.9..."
943574,34497,2022-10-29 20:39:33-04:00,2022-10-29 20:39:40-04:00,"LINESTRING (-82.23321 29.38124, -82.23322 29.3..."
943575,34497,2022-10-30 20:39:30-04:00,2022-10-30 20:39:39-04:00,"LINESTRING (-82.23325 29.38123, -82.23322 29.3..."

In [8]:
# Write positionfixes to csv file.
ti.io.file.write_positionfixes_csv(pfs, 'pfs.csv')

In [9]:
# Write staypoints to csv file.
ti.io.file.write_staypoints_csv(sp, 'staypoints.csv')

In [10]:
# Write triplegs to csv file.
ti.io.file.write_triplegs_csv(tpls, 'triplegs.csv')