In [1]:
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas
import trackintel as ti

# read pfs from csv file
pfs = ti.io.file.read_positionfixes_csv('data.csv', 
                                        columns={'user_id':'user_id', 'latitude':'latitude', 'longitude':'longitude', 'time':'tracked_at'},
                                        tz= 'America/New_York',
                                        crs ='EPSG:4326',
                                        index_col = 'ID')
pfs

          user_id  flag                tracked_at                        geom
ID
44              0  True 2022-09-05 22:41:13-04:00  POINT (-82.11443 29.19940)
48              0  True 2022-09-06 13:11:03-04:00  POINT (-82.07077 29.19301)
49              0  True 2022-09-06 13:11:54-04:00  POINT (-82.07077 29.19301)
34              0  True 2022-09-07 02:48:04-04:00  POINT (-82.11661 29.19956)
35              0  True 2022-09-07 15:18:45-04:00  POINT (-82.11661 29.19956)
...           ...   ...                       ...                         ...
13980046    26517  True 2022-10-30 20:06:01-04:00  POINT (-82.17809 29.06768)
13980047    26517  True 2022-10-30 20:39:30-04:00  POINT (-82.23325 29.38123)
13980048    26517  True 2022-10-30 20:39:39-04:00  POINT (-82.23322 29.38123)
13980049    26517  True 2022-10-30 20:39:44-04:00  POINT (-82.23320 29.38124)
13980084    26518  True 2022-10-23 08:23:05-04:00  POINT (-81.61525 30.61841)

[9692295 rows x 4 columns]

In [2]:
# generate staypoints
pfs, sp = pfs.as_positionfixes.generate_staypoints(method='sliding', dist_threshold=100, time_threshold=2.0, gap_threshold = 15.0, print_progress = True, include_last = False, n_jobs=-1)
pfs

  0%|          | 32/26519 [00:05<1:18:03,  5.66it/s]/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
  0%|          | 48/26519 [00:05<44:35,  9.89it/s]  /usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
  0%|          | 64/26519 [00:05<28:27, 15.49it/s]/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
/usr/local/lib/python3.9/site-packages/pygeos/io.py:89: UserWarning: The shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the PyGEOS GEOS version (3.10.4-CAPI-1.16.2). Conversions between both will be slow
  warnings.warn(
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 26519/26519 [02:26<00:00, 181.29it/s]

,user_id,flag,tracked_at,geom,staypoint_id
ID,,,,,
44,0,True,2022-09-05 22:41:13-04:00,POINT (-82.11443 29.19940),<NA>
48,0,True,2022-09-06 13:11:03-04:00,POINT (-82.07077 29.19301),<NA>
49,0,True,2022-09-06 13:11:54-04:00,POINT (-82.07077 29.19301),<NA>
34,0,True,2022-09-07 02:48:04-04:00,POINT (-82.11661 29.19956),<NA>
35,0,True,2022-09-07 15:18:45-04:00,POINT (-82.11661 29.19956),<NA>
...,...,...,...,...,...
13980046,26517,True,2022-10-30 20:06:01-04:00,POINT (-82.17809 29.06768),<NA>
13980047,26517,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>
13980048,26517,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>
13980049,26517,True,2022-10-30 20:39:44-04:00,POINT (-82.23320 29.38124),<NA>
13980084,26518,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>

In [3]:
pfs

,user_id,flag,tracked_at,geom,staypoint_id
ID,,,,,
44,0,True,2022-09-05 22:41:13-04:00,POINT (-82.11443 29.19940),<NA>
48,0,True,2022-09-06 13:11:03-04:00,POINT (-82.07077 29.19301),<NA>
49,0,True,2022-09-06 13:11:54-04:00,POINT (-82.07077 29.19301),<NA>
34,0,True,2022-09-07 02:48:04-04:00,POINT (-82.11661 29.19956),<NA>
35,0,True,2022-09-07 15:18:45-04:00,POINT (-82.11661 29.19956),<NA>
...,...,...,...,...,...
13980046,26517,True,2022-10-30 20:06:01-04:00,POINT (-82.17809 29.06768),<NA>
13980047,26517,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>
13980048,26517,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>
13980049,26517,True,2022-10-30 20:39:44-04:00,POINT (-82.23320 29.38124),<NA>
13980084,26518,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>

In [4]:
sp

,user_id,started_at,finished_at,geom
id,,,,
0,1,2022-09-05 00:23:55-04:00,2022-09-05 00:30:32-04:00,POINT (-81.65786 29.65504)
1,1,2022-09-05 00:31:55-04:00,2022-09-05 00:36:45-04:00,POINT (-81.68408 29.65175)
2,1,2022-09-05 00:38:57-04:00,2022-09-05 00:43:14-04:00,POINT (-81.68407 29.65176)
3,1,2022-09-05 00:53:25-04:00,2022-09-05 00:57:50-04:00,POINT (-81.68407 29.65176)
4,1,2022-09-05 01:47:48-04:00,2022-09-05 01:57:58-04:00,POINT (-81.68407 29.65176)
...,...,...,...,...
587602,26507,2022-10-25 03:06:21-04:00,2022-10-25 03:09:12-04:00,POINT (-81.20441 29.48461)
587603,26507,2022-10-25 03:09:12-04:00,2022-10-25 03:17:47-04:00,POINT (-81.20281 29.47761)
587604,26507,2022-10-26 22:56:59-04:00,2022-10-26 23:07:58-04:00,POINT (-81.20477 29.48556)
587605,26508,2022-10-28 00:47:04-04:00,2022-10-28 00:55:00-04:00,POINT (-81.66882 30.36859)
587606,26510,2022-10-23 22:07:37-04:00,2022-10-23 22:11:40-04:00,POINT (-83.07756 30.34748)

In [5]:
# generate triplegs
pfs, tpls = pfs.as_positionfixes.generate_triplegs(sp, method='between_staypoints', gap_threshold = 15.0)
pfs

/usr/local/lib/python3.9/site-packages/trackintel/preprocessing/positionfixes.py:498: UserWarning: The positionfixes with ids [      35       36       39 ... 13979958 13979963 13979964] lead to invalid tripleg geometries. The resulting triplegs were omitted and the tripleg id of the positionfixes was set to nan
  warnings.warn(warn_string)

,user_id,flag,tracked_at,geom,staypoint_id,tripleg_id
ID,,,,,,
44,0,True,2022-09-05 22:41:13-04:00,POINT (-82.11443 29.19940),<NA>,<NA>
48,0,True,2022-09-06 13:11:03-04:00,POINT (-82.07077 29.19301),<NA>,0
49,0,True,2022-09-06 13:11:54-04:00,POINT (-82.07077 29.19301),<NA>,0
34,0,True,2022-09-07 02:48:04-04:00,POINT (-82.11661 29.19956),<NA>,<NA>
35,0,True,2022-09-07 15:18:45-04:00,POINT (-82.11661 29.19956),<NA>,<NA>
...,...,...,...,...,...,...
13980046,26517,True,2022-10-30 20:06:01-04:00,POINT (-82.17809 29.06768),<NA>,<NA>
13980047,26517,True,2022-10-30 20:39:30-04:00,POINT (-82.23325 29.38123),<NA>,1064193
13980048,26517,True,2022-10-30 20:39:39-04:00,POINT (-82.23322 29.38123),<NA>,1064193
13980049,26517,True,2022-10-30 20:39:44-04:00,POINT (-82.23320 29.38124),<NA>,1064193
13980084,26518,True,2022-10-23 08:23:05-04:00,POINT (-81.61525 30.61841),<NA>,<NA>

In [6]:
tpls

,user_id,started_at,finished_at,geom
id,,,,
0,0,2022-09-06 13:11:03-04:00,2022-09-06 13:11:54-04:00,"LINESTRING (-82.07077 29.19301, -82.07077 29.1..."
4,0,2022-09-09 00:59:39-04:00,2022-09-09 00:59:49-04:00,"LINESTRING (-82.11661 29.19956, -82.11661 29.1..."
5,1,2022-09-05 00:30:32-04:00,2022-09-05 00:31:43-04:00,"LINESTRING (-81.68407 29.65176, -81.65786 29.6..."
6,1,2022-09-05 00:36:45-04:00,2022-09-05 00:38:51-04:00,"LINESTRING (-81.65786 29.65504, -81.68407 29.6..."
7,1,2022-09-05 00:43:14-04:00,2022-09-05 00:53:20-04:00,"LINESTRING (-81.65786 29.65504, -81.65784 29.6..."
...,...,...,...,...
1064189,26517,2022-10-27 20:39:39-04:00,2022-10-27 20:39:52-04:00,"LINESTRING (-82.23322 29.38123, -82.23320 29.3..."
1064190,26517,2022-10-29 20:39:33-04:00,2022-10-29 20:39:45-04:00,"LINESTRING (-82.23321 29.38124, -82.23322 29.3..."
1064191,26517,2022-10-30 02:46:09-04:00,2022-10-30 02:46:58-04:00,"LINESTRING (-82.24802 29.40904, -82.24801 29.4..."
1064192,26517,2022-10-30 05:41:11-04:00,2022-10-30 05:41:22-04:00,"LINESTRING (-82.24789 29.40906, -82.24789 29.4..."
1064193,26517,2022-10-30 20:39:30-04:00,2022-10-30 20:39:44-04:00,"LINESTRING (-82.23325 29.38123, -82.23322 29.3..."

In [7]:
# Write positionfixes to csv file.
ti.io.file.write_positionfixes_csv(pfs, 'pfs.csv')

In [8]:
# Write staypoints to csv file.
ti.io.file.write_staypoints_csv(sp, 'staypoints.csv')

In [9]:
# Write triplegs to csv file.
ti.io.file.write_triplegs_csv(tpls, 'triplegs.csv')